API_KEY='Put your hevy API key here'
BASE_URL='https://api.hevyapp.com/v1/'
# This schedule will run the job every day at 1 AM, delete schedule if you want to only run on demand
SCHEUDLE=0 1 * * *
#Delete this variable if you want it to use kg
USE_LBS=true